## QUESTION 1 , fetching the data. ##

I will use pandas_datareader module to download the data straight from yahoo finance. The following command will install this module,If you haven't already installed it, please remove # to do so.

In [1]:
#pip install pandas_datareader

In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as dr

### Downloading S&P 500 data (yahoo index ticker is ^GSPC). ###

In [3]:
mySNP500dataset=dr.DataReader("^GSPC", "yahoo",api_key=None)['Adj Close']
SNP500_2_years =mySNP500dataset.tail(505)

#Checking if Nan exists 
print ('My SNP500 data contains Nan values: ' +str (np.isnan(SNP500_2_years).any()))

#Start and End dates.
print('The SNP500 data I have collected start from: ' + str(SNP500_2_years.head(1).index.values)+' and end at: ' + str(SNP500_2_years.tail(1).index.values) )

My SNP500 data contains Nan values: False
The SNP500 data I have collected start from: ['2019-02-28T00:00:00.000000000'] and end at: ['2021-03-01T00:00:00.000000000']

### Downloading SPY data. ###

In [4]:
#help(dr.DataReader) if needed
#I used the daily close values OF SPY index (Standard and Poor's S&P 500 ETF Trust)

mySPYdataset=dr.DataReader("SPY", "yahoo",api_key=None)['Adj Close']
SPY_2_years =mySPYdataset.tail(505)

#Checking if Nan exists 
print ('My SPY data contains Nan values: ' +str (np.isnan(SPY_2_years).any()))

#Start and End dates.
print('The SPY data I have collected start from: ' + str(SPY_2_years.head(1).index.values)+' and end at: ' + str(SPY_2_years.tail(1).index.values) )

My SPY data contains Nan values: False
The SPY data I have collected start from: ['2019-02-28T00:00:00.000000000'] and end at: ['2021-03-01T00:00:00.000000000']

### Downloading two other ETF's that track S&P500 index. These will be IVV (iShares Core S&P 500 ETF) and SPLG (a SPY portfolio). ###

In [5]:
myIVVdataset=dr.DataReader("IVV","yahoo",api_key=None)['Adj Close']
IVV_2_years=myIVVdataset.tail(505)

#Checking if Nan exists 
print ('My IVV data contains Nan values: ' +str (np.isnan(IVV_2_years).any()))

#Start and End dates.
print('The IVV data I have collected start from: ' + str(IVV_2_years.head(1).index.values)+' and end at: ' + str(IVV_2_years.tail(1).index.values) )

My IVV data contains Nan values: False
The IVV data I have collected start from: ['2019-02-28T00:00:00.000000000'] and end at: ['2021-03-01T00:00:00.000000000']

In [6]:
mySPLGdataset=dr.DataReader("SPLG","yahoo",api_key=None)['Adj Close']
SPLG_2_years=mySPLGdataset.tail(505)

#Checking if Nan exists 
print ('My SPLG data contains Nan values: ' +str (np.isnan(SPLG_2_years).any()))

#Start and End dates.
print('The SPLG data I have collected start from: ' + str(SPLG_2_years.head(1).index.values)+' and end at: ' + str(SPLG_2_years.tail(1).index.values) )

My SPLG data contains Nan values: False
The SPLG data I have collected start from: ['2019-02-28T00:00:00.000000000'] and end at: ['2021-03-01T00:00:00.000000000']

## Question 2, Computing the returns, active returns, and average active return . ##

In [7]:

dataset=pd.concat([SNP500_2_years,SPY_2_years,IVV_2_years,SPLG_2_years],axis=1)
dataset.columns=['S&P','SPY','IVV','SPLG']
dataset.isna().any()
dataset.tail(5)

                    S&P         SPY         IVV       SPLG
Date
2021-02-23  3881.370117  387.500000  388.940002  45.549999
2021-02-24  3925.429932  391.769989  393.209991  46.080002
2021-02-25  3829.340088  382.329987  383.779999  44.980000
2021-02-26  3811.149902  380.359985  381.769989  44.740002
2021-03-01  3901.100098  389.559998  391.029999  45.819000

In [8]:
#Calculating the returns.
dataset_returns = np.log(dataset).diff()[1:]
dataset_returns.tail(5)

                 S&P       SPY       IVV      SPLG
Date
2021-02-23  0.001256  0.001214  0.001055  0.000439
2021-02-24  0.011288  0.010959  0.010919  0.011568
2021-02-25 -0.024783 -0.024391 -0.024274 -0.024161
2021-02-26 -0.004762 -0.005166 -0.005251 -0.005350
2021-03-01  0.023328  0.023900  0.023966  0.023831

In [9]:
#Calculating the active returns of SPY, IVV , and SPLG with S&P 500 as their benchmark.
dataset_act_returns=dataset_returns.subtract(dataset_returns['S&P'], axis=0)[['SPY','IVV','SPLG']]                                                                          
dataset_act_returns.tail(5)

                 SPY       IVV      SPLG
Date
2021-02-23 -0.000042 -0.000201 -0.000816
2021-02-24 -0.000329 -0.000369  0.000281
2021-02-25  0.000393  0.000509  0.000622
2021-02-26 -0.000404 -0.000490 -0.000588
2021-03-01  0.000572  0.000638  0.000503

In [10]:
#Calculating the average active return for each ticker.
dataset_act_returns.mean()

SPY     0.000069
IVV     0.000072
SPLG    0.000070
dtype: float64

## Question 3, Computing the tracking error and mean adjusted tracking error. ##

In [11]:
#The tracking error is the standard deviation of the active returns (denominator for pandas is set to T-1 , which is used for samples).
dataset_act_returns.std()

SPY     0.000955
IVV     0.000691
SPLG    0.000724
dtype: float64

In [12]:
#Calculating the mean adjusted tracking error.
(dataset_act_returns.pow(2).mean())**(1/2)

SPY     0.000956
IVV     0.000694
SPLG    0.000726
dtype: float64

## Question 4, Which of these 3 ETFs tracks the S&P 500 better. ##

As of now (March first 2021) , IVV appears to track the S&P 500 better because it has a lower mean adjusted tracking error , and lower tracking error as well. Furthermore, IVV appears to have the highest active return compared to the other two tickers.

## Question 5, Downloading the selected SPDR tickers. ##

In [13]:
#The tickers we were asked to download(read from).
tickers = ['XLB', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLRE', 'XLU', 'XLV', 'XLY']

#read the last 505 tickers
mass_ticker_incoming = dr.DataReader(tickers, 'yahoo', api_key=None)['Adj Close'].tail(505) 
#initial and final date
print ('The initial date is: ' + str(mass_ticker_incoming.index.values[0]) + ' and the final date is: ' + str(mass_ticker_incoming.index.values[-1]))

The initial date is: 2019-02-28T00:00:00.000000000 and the final date is: 2021-03-01T00:00:00.000000000

In [14]:
mass_ticker_incoming.tail()

Symbols,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,
2021-02-23,75.599998,48.570000,32.910000,91.550003,132.679993,65.089996,38.450001,60.709999,113.949997,164.949997
2021-02-24,76.260002,50.290001,33.549999,93.279999,134.710007,65.050003,38.630001,60.000000,114.739998,166.679993
2021-02-25,74.500000,49.320000,32.939999,91.559998,130.000000,64.339996,38.000000,59.459999,113.589996,160.479996
2021-02-26,73.550003,48.150002,32.310001,90.610001,130.690002,63.299999,37.340000,58.360001,112.610001,161.149994
2021-03-01,75.724998,49.724998,33.145000,93.290001,134.410004,64.315002,37.810001,60.174999,114.449997,165.059998

## Question 6, Compute the returns. ##

In [15]:
mass_ticker_returns = np.log(mass_ticker_incoming).diff()[1:]
mass_ticker_returns.tail(5)

Symbols,XLB,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,XLY
Date,,,,,,,,,,
2021-02-23,0.003445,0.016399,0.006096,0.003063,-0.002785,0.001384,0.003648,0.008270,-0.001666,-0.006586
2021-02-24,0.008692,0.034800,0.019260,0.018720,0.015184,-0.000615,0.004670,-0.011764,0.006909,0.010433
2021-02-25,-0.023349,-0.019477,-0.018349,-0.018611,-0.035590,-0.010975,-0.016443,-0.009041,-0.010073,-0.037906
2021-02-26,-0.012834,-0.024009,-0.019311,-0.010430,0.005294,-0.016296,-0.017521,-0.018673,-0.008665,0.004166
2021-03-01,0.029143,0.032187,0.025515,0.029148,0.028067,0.015908,0.012509,0.030626,0.016207,0.023973

## Question 7 ## 
Write a function that computes active return internally, and uses that to compute the Mean-Adjusted Tracking Error.

I used a different expression this time, in order to calculate the MATE internally. That is:
$$MATE=    \sqrt{\frac{T-1}{T} \cdot TE^2 + \overline{R}^2} $$

In [16]:
#The active return is computed internally (by calculating R squared, where R is the active the active return). 
#I straightaway computed its mean and and squared it.

def MATE(ticker,benchmark):
    T=len(ticker.index)
    TE=ticker.std()
    Rsquared=ticker.subtract(benchmark,axis=0).mean()**2
    return (((T-1)/T)*(TE**2) + Rsquared)**(1/2)

In [17]:
MATE(mass_ticker_returns,dataset_returns['S&P'])

Symbols
XLB     0.018634
XLE     0.029104
XLF     0.021636
XLI     0.019043
XLK     0.019694
XLP     0.013308
XLRE    0.019004
XLU     0.018076
XLV     0.014793
XLY     0.016647
dtype: float64

### Question 8, Determine which single sector fund best tracks the S&P500 ###

As of now (March first 2021) , the best index seems to be XLP, as this is the one with the smallest mean adjusted tracking error.
Keep in mind that i didn't compute the average active returns here, because they were not asked of us, so I didn't take that into consideration.